[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
discord = "*"
aioredis = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
